*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.loader{
    width: 100%;
    height: 100vh;
  
    display: flex;
    justify-content: center;
    align-items: center;
}
body{
    font-family: helvetica neue,Helvetica,Arial,sans-serif;
}
.title{
    border-bottom: 2px solid #163aaf;
    width: 285px;
    margin: auto;
    margin-top:40px ;
    margin-bottom:40px ;
}

.Navbar_logo {
    background-color: #163aafc2; 
}
.title h1{
    letter-spacing: 1px;
    font-size: 36px;
    color: #585959;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
}
/* .title{
    border-bottom: 2px solid #163aaf;
    width: 285px;
    margin: auto;
    margin-top:40px ;
    margin-bottom:40px ;
   
}
.title h1{
    letter-spacing: 1px;
    font-size: 36px;
    color: #585959;
    margin: 0;
    margin-bottom: 10px;
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
}
.header{
    width: 100%;
    height: 100vh;
    background-image: url(../img/about1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.card{
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

/* New-------------------------- */
/* .newbg{
    width: 100%;
    height: 40vh;
 background-image: url(../img/loader-bg.png);
 box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.newtitle{
    border-bottom: 2px solid #163aaf;
    width: 285px;
    margin: auto;
   padding-top: 130px;
}
.newtitle h1{
    letter-spacing: 1px;
    font-size: 36px;
    color: #585959;
    margin: 0;
    margin-bottom: 10px;
   
    padding: 10px 0;
    font-weight: 400;
    text-align: center;
}
.img img{
    width: 100%;
    height: auto;

}
.text p{
    font-size: 18px;
    color: #444;
    margin: 0 auto;
    padding: 10px 0;
    line-height: 200%;
} */
/* * {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
  } */
  
  /* body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #34495e;
  } */

.cards {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  .card {
    margin: 40px;
    position: relative;
    width: 300px;
   height: 350px;
    box-shadow: 0 40px 60px -6px black;
  }
  
  .card_title {
    display: block;
    text-align: center;
    color: #fff;
    background-color: #163aaf;
    padding: 2%;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    font-size: 18px;
  }

  .img {
      background-size: cover;
  }

  .date {
      font-size: 15px;
      margin: auto;
  }
  
  .card img {
    width: 100%;
    height: 98%;
    object-fit: cover;
    display: block;
    position: relative;
    
  }
  
  .card_desc {
    display: block;
    font-size: 1.0rem;
    position: absolute;
    height: 0;
    top: 0;
    opacity: 0;
    padding: 18px 8%;
    background-color: white;
    overflow-y: scroll;
    transition: 0.8s ease;
  }
  
  .card:hover .card_desc {
    opacity: 1;
    height: 100%;
  }


  @media (max-width:400px) {
      .card_desc {
          font-size: 10px;
          /* padding-top: -20px; */
      }

      .card {
          margin:0px;
          width: 100%;
      margin-bottom: 40px;        
      }

      .card_title {
          font-size: 15px;
      }

      .date {
        font-size: 12px;
      }

      .card_desc {
          font-size: 13px;
      }

      .cards {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  margin: 40px;
  position: relative;
  max-width: 250px;
  max-height: 350px;
  box-shadow: 0 40px 60px -6px black;
}

.card_title {
  display: block;
  text-align: center;
  color: #fff;
  background-color: #6184a8;
  padding: 2%;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.card img {
  width: 100%;
  height: 98%;
  object-fit: cover;
  display: block;
  position: relative;
}

.card-desc {
  display: block;
  font-size: 1.2rem;
  position: absolute;
  height: 0;
  top: 0;
  opacity: 0;
  padding: 18px 8%;
  background-color: white;
  overflow-y: scroll;
  transition: 0.8s ease;
}

.card:hover .card-desc {
  opacity: 1;
  height: 100%;
}

h1 {
  font-size: 2.8rem;
  color: #fff;
  margin: 40px 0 20px 0;
  text-align: center;
}

      
  }
  
  .loader {
 
    width: 16em;
    height: 8em;
    position: relative;
    overflow: hidden;
  }
  
  .loader::before,
  .loader::after {
    content: '';
    position: absolute;
    bottom: 0;
  }
  
  .loader::before {
    width: inherit;
    height: 0.2em;
    background-color: hsla(0, 0%, 85%);
  }
  
  .loader::after {
    box-sizing: border-box;
    width: 50%;
    height: inherit;
    border: 0.2em solid hsla(0, 0%, 85%);
    border-radius: 50%;
    left: 25%;
  }
  
  .loader span {
    position: absolute;
    width: 5%;
    height: 10%;
    background-color: white;
    border-radius: 50%;
    bottom: 0.2em;
    left: -5%;
    animation: 2s linear infinite;
    transform-origin: 50% -3em;
    animation-name: run, rotating;
  }
  
  .loader span:nth-child(2) {animation-delay: 0.075s;}
  .loader span:nth-child(3) {animation-delay: 0.15s;}
  
  @keyframes run {
    0% {left: -5%;}
    10%, 60% {left: calc((100% - 5%) / 2);}
    70%, 100% {left: 100%;}
  }
  
  @keyframes rotating {
    0%, 10% {transform: rotate(0deg);}
    60%, 100% {transform: rotate(-1turn);}
  }
  